div.todo-item {
    width: 1080px;
    border-bottom: rgba(128, 128, 128, 0.1) solid 1px;
}

span.todo-item-text {
    margin-left: 65px;
    font-size: 45px;
    color: #000;
    display: inline-block;
    line-height: 180px;
    vertical-align: middle;
    overflow: hidden;
    max-width: 800px;
    max-height: 180px;

    /*User selectable*/
    -webkit-user-select: initial;
}

input.todo-item-text-editor {
    font-size: 45px;
    color: #000;
    position: absolute;
    left: 65px;
    top: 59px;
    width: 800px;
    height: 60px;
    vertical-align: middle;
    border: none;
    outline: none;
}

/*div.todo-item-icon {*/
/*margin-left: 50px;*/
/*display: inline-block;*/
/*background: red;*/
/*height: 45px;*/
/*width: 45px;*/
/*vertical-align: middle;*/
/*}*/

svg.todo-item-modify, svg.todo-item-star {
    float: right;
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    top: 67px;
    position: relative;
    padding-right: 40px;
}

div.todo-item-title-line, div.todo-item-func-line {
    height: 180px;
    position: relative;
}

div.todo-item-more {
    position: absolute;
    left: 65px;
    bottom: 10px;
    color: #bbbbbb;
    font-size: 32px;
    z-index: 0;
}

span.todo-item-category {
    max-width: 700px;
    max-height: 40px;
    display: inline-block;
    overflow-x: hidden;
    font-weight: bold;
    vertical-align: middle;
}

span.todo-item-time {
    vertical-align: middle;
}

/*func line*/
svg.todo-item-complete, svg.todo-item-delete,
svg.todo-item-tag, svg.todo-item-notes, svg.todo-item-clock {
    width: 60px;
    height: 60px;
    padding: 60px 80px 65px 65px;
}

/*todos*/
input.todos-new {
    font-size: 60px;
    color: #fff;
    background: #03a9f4;
    position: absolute;
    left: 0;
    top: 0;
    width: 880px;
    height: 168px;
    padding: 0 150px 0 50px;
    vertical-align: middle;
    border: none;
    outline: none;
    z-index: 999;
}

input.todos-new::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

span.todos-new-wrapper-blank {
    position: absolute;
    display: block;
    top: 168px;
    bottom: 0;
    width: 1080px;
    height: 4000px;
    background: rgba(255, 255, 255, 0.8);
}

img.button-done {
    z-index: 999;
}

/*category*/
input.todo-item-tag-modal {
    position: absolute;
    top: 124px;
    left: 65px;
    background: #ffffff;
    width: 800px;
    height: 45px;
    vertical-align: middle;
    border: none;
    outline: none;
    font-size: 32px;
    font-weight: bold;
    color: #808080;
}
